@model List<Fishtype>

<h1>Fish Types</h1>

<a class="btn btn-success btn-info" asp-controller="FishWater" asp-action="CreateFishtype">Add FishType</a>
<br />
<br />

<ul>
    @foreach (var fishtype in Model)
    {
        <li>
            @fishtype.FishtypeName
        </li>
    }
</ul>


